html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}

/* ここから */
header {
  height:50px;
  background-color:#2B2B2B;
}
ul{
  list-style:none;
  padding:0;
}
.topmenu_left{
  float:left;
}
.topmenu_right{
  float:right;
}
header li{
  float:left;
}
header li a {
  color:#fff;
  text-decoration:none;
  display:block;
  margin:0 20px;
}
header ul:after {
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* ここまでがheader部分の実装 */
.main-header{
  height:150px;
  position:relative;
}
.main-header img{
  width:13%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translateY(-50%) translateX(-50%)
}
/* main画像（白い「Achieve」の文字の画像）部分の実装 */

/* About Achieve部分の実装 */
.about h1{
  font-size:1.5rem;
}
.about p{
  font-size:0.8rem;
}


/* ここから */
.function {
  background-color:#D3D3D3;
}
.function h1{
  font-size:1.5rem;
  padding-top:20px;
}
.function-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.function-image1 {
  padding:0 30px;
  float:left;
  font-size:0.8rem;
}
.function-image2 {
  padding:0 20px;
  float:left;
  font-size:0.8rem;
}
.function-image2 img{
  width:50px;
}
.function-image1 img{
  width:50px;
}

/* ここまでがfunction部分の実装 */
footer{
height:70px;
background-color:#283A4B;
position:relative;
}
footer p{
  color:#fff;
  font-size:0.8rem;
  margin:0;
  padding:0;
}
.hooter_text{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 40%;
}
  /* footer部分の実装 */
